<div class="card">
  <div class="card__avatar">
    <div class="avatar-mask">
      <img src="{{picture}}" alt="{{name}}">
    </div>
  </div>
  <div class="card__description">
    <h3 class="card__title">{{name}}</h3>
    <h4 class="card__subtitle">{{description}}</h4>
  </div>
  <div class="tooltip">
    <table class="tooltip__table">
      <thead>
        <th>Gostam</th>
        <th>Não Gostam</th>
      </thead>
      <tbody>
        <tr>
          <td>{{positivePercent}}%</td>
          <td>{{negativePercent}}%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
